<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Circle</display-name>
  <welcome-file-list/>
  <servlet>
    <description></description>
    <display-name>CircleServlet</display-name>
    <servlet-name>CircleServlet</servlet-name>
    <servlet-class>com.controller.CircleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CircleServlet</servlet-name>
    <url-pattern>/CircleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajaxDivisions</display-name>
    <servlet-name>ajaxDivisions</servlet-name>
    <servlet-class>com.controller.ajaxDivisions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxDivisions</servlet-name>
    <url-pattern>/ajaxDivisions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCircleServlet</display-name>
    <servlet-name>AjaxCircleServlet</servlet-name>
    <servlet-class>com.controller.AjaxCircleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCircleServlet</servlet-name>
    <url-pattern>/AjaxCircleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DivisionServlet</display-name>
    <servlet-name>DivisionServlet</servlet-name>
    <servlet-class>com.controller.DivisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivisionServlet</servlet-name>
    <url-pattern>/DivisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EroServlet</display-name>
    <servlet-name>EroServlet</servlet-name>
    <servlet-class>com.controller.EroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EroServlet</servlet-name>
    <url-pattern>/EroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubServlet</display-name>
    <servlet-name>SubServlet</servlet-name>
    <servlet-class>com.controller.SubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubServlet</servlet-name>
    <url-pattern>/SubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonServlet</display-name>
    <servlet-name>CommonServlet</servlet-name>
    <servlet-class>com.controller.CommonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonServlet</servlet-name>
    <url-pattern>/CommonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.controller.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
</web-app>